.footer {
  background-color: #131921;
  display: flex;
  flex-direction: column;
  align-items: center;

  bottom: 0;
}

.footer__content {
  display: flex;
  flex-direction: row;
  margin: 10px;
  color: white;
}
.footer__text {
  text-align: justify;
}
.icon {
  color: white;
}

.footer__link {
  margin: 10px;
}
